<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Stock Market</title>

   <!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="../../js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../../js/bootstrap/css/bootstrap-responsive.min.css" />
	
	<!-- Includes FontAwesome -->
	<!--
	<link rel="stylesheet" href="./css/fontawesome/css/font-awesome.css" />
	-->
	
	<!-- Included Bootstrap Customization CSS Files -->	
	<link rel="stylesheet" href="../../css/bootstrap-extension.css" />
	<link rel="stylesheet" href0="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/mainrss.css" />
	<link rel="stylesheet" href="css/carousel-custom-01.css" />

	<link rel="stylesheet" href="../../js/touchTouch/assets/touchTouch/touchTouch.css" />
	
	<link rel="stylesheet" href="../../css/stylesheet.css" />

	<script src="../../AnyChart/js/anychart.min.js"></script>
	<link rel="stylesheet" href="../../AnyChart/css/anychart-ui.min.css" />
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>

<div class="navbar navbar-inverse navbar-static-top mbottom20">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse" href="#">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/home">Stock Market</a>
			<div class="nav-collapse">
				<ul class="nav pull-left">
					<li><a href="./ibex">IBEX-35</a></li>
                    <li><a href="./europa">EUROPA</a></li>
					<li><a href="./eeuu">EEUU</a></li>
					<li><a href="./asia">ASIA</a></li>
				</ul>
				<ul class="nav pull-right">
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= user.username %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><i class="icon-cog"></i> Preferences</a></li>
                            <li><a href="#"><i class="icon-envelope"></i> Contact Support</a></li>
                            <li class="divider"></li>
                            <li><a href="/logout"><i class="icon-off"></i> Salir</a></li>
                        </ul>
                    </li>
                </ul>
				
			</div>
		</div>
	</div>
</div> 
 

<div class="container">
	<div class="row">
		<div class="span6">
			<table  class="table table-striped table-bordered" >
	          	<h2>Noticas</h2>
		        <ul class="nav nav-tabs">
		            <li class="active"><a data-toggle="tab" href="#home">Expansion</a></li>
		            <li><a data-toggle="tab" href="#menu1">Cotizalia</a></li>
		            <li><a data-toggle="tab" href="#menu2">Cinco Dias</a></li>
		            <li><a data-toggle="tab" href="#menu3">Finanzas</a></li>
		            <li><a data-toggle="tab" href="#menu4">Perfil</a></li>
		            <li><a data-toggle="tab" href="#menu5">vacio</a></li>
		        </ul>

		        <div class="tab-content">
			        <div id="home" class="tab-pane fade in active">
			        	<div class="post_results" id="post_results1" rss_num="5" rss_url="http://estaticos.expansion.com/rss/empresas.xml">
			                  <div class="loading_rss">
			                    <img alt="Loading..." src="images/loading.gif" />
			                  </div>
			              </div>

			        </div>
			        <div id="menu1" class="tab-pane fade ">
			             <div class="post_results" id="post_results2" rss_num="5" rss_url="http://rss.elconfidencial.com/mercados/">
			                  <div class="loading_rss">
			                    <img alt="Loading..." src="images/loading.gif" />
			                  </div>
			              </div>
			        </div>
			        <div id="menu2" class="tab-pane fade ">			              
			            <div class="post_results" id="post_results3" rss_num="5" rss_url="http://cincodias.com/rss/cincodias/mercados.xml">
				            <div class="loading_rss">
				                <img alt="Loading..." src="images/loading.gif" />
				            </div>
			          	</div>        
			        </div>
			        <div id="menu3" class="tab-pane fade">			              
			           <div class="post_results" id="post_results4" rss_num="5" rss_url="http://www.finanzas.com/rss/noticiasportada.xml">
			                <div class="loading_rss">
			                    <img alt="Loading..." src="images/loading.gif" />
			                </div>
			            </div>
			        </div>
			        <div id="menu4" class="tab-pane fade">
			              <h2>Información sobre <strong>ABERTIS</strong></h2>
						<div class="Descripcion" id="post_results5">
							<p>Abertis es la corporación internacional líder en la gestión de autopistas y de infraestructuras de transporte y comunicaciones. Está presente en 10 países de Europa y américa. Gestiona directamente más de 7.300 kilómetros de autopistas y es el líder mundial en este sector. El grupo cuenta con una plantilla de casi 11.000 personas y el 50% de sus ingresos se genera fuera de España. El nivel de aplicación de los informes de Responsabilidad Social Corporativa de Abertis corresponde al más alto, A+.</p>
							<p>Una de las últimas noticias sobre el grupo Abertis ha sido la celebración del 50º aniversario del Túnel de Guadarrama y el cierre de la venta del aeropuerto de Luton a un consorcio conformado por AENA y Ardian.</p>
							<p>Las <strong>acciones de Abertis</strong> tienen su cotización en la Bolsa española (donde, además forma parte del Ibex 35). También está presente en los índices internacionales FTSEurofirst 300 y Standard & Poor's Europe 350.</p>
						</div>
						<p class="presidente"><strong>Presidente: </strong>Salvador Alemany i Más </p>
						<p class="sector"><strong>Sector: </strong>Autopistas y aparcamientos </p>
						<p class="direccion"><strong>Direcci&oacute;n: </strong>Avinguda del Parc Logístic, 12-20 ¿ 08040 Barcelona</p>
						<p class="telefono"><strong>Tel&eacute;fono: </strong>+34 93 230 50 00 - <strong>Fax:</strong> 93 230 50 01</p>
						<p id="web"><strong>Web: </strong><strong><a href="http://www.abertis.com/">http://www.abertis.com/</a></strong></p>    
			                        
			        </div>
			        <div id="menu5" class="tab-pane fade">
			              <div class="Descripcion" id="post_results6">
			              	<div id="chart_div"></div>
			              </div>
			               
			        </div>
		        </div>
		       
	        </table>
		</div>

	    <div class="span6">
	    	
	    <div>
	      <table  class=" table-striped table-bordered">
			    	<thead>
	                        <th><h4>ABERTIS</h4></th>
	                </thead>
			        <thead>
			            <tr>
			                <th>Apertura</th>
			                <th>Alto</th>
			                <th>Bajo</th>
			                <th>Cierre</th>
			                <th>Volumen</th>
			                <th>Ajust.Cierre</th>
			                <th>Fecha</th>
			            </tr>
			        </thead>
			        <tbody>
			            <tr>
			                <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores00"><% valores00.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores01"><% valores01.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores02"><% valores02.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores03"><% valores03.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores04"><% valores04.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores06"><% valores05.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores06"><% valores06.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores07"><% valores07.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores08"><% valores08.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores09"><% valores09.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores10"><% valores10.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores11"><% valores11.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores12"><% valores12.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores13"><% valores13.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores14"><% valores14.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores15"><% valores15.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores16"><% valores16.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores17"><% valores17.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores18"><% valores18.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			             <tr>
			                <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=1]%><%})%></td>
			                <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=2]%><%})%></td>
						    <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=3]%><%})%></td>
						    <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=4]%><%})%></td>
						    <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=5]%><%})%></td>
						    <td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=6]%><%})%></td>
			    			<td id="valores19"><% valores19.forEach(function(dato2){%><%= dato2[n=0]%><%})%></td>                
			            </tr>
			        </tbody>
			    </table>
			    </div>
			 
		 	</div>
		</div>
	</div>
</div>

						<script type="text/javascript" >
			         		anychart.onDocumentReady(function() {
							  // create data set on our data
							  var dataSet = anychart.data.set([
							    [<% grafico19.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico19.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico18.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico18.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico17.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico17.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico16.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico16.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico15.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico15.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico14.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico14.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico13.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico13.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico12.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico12.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico11.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico11.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico10.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico10.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico09.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico09.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico08.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico08.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico07.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico07.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico06.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico06.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico05.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico05.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico04.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico04.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico03.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico03.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico02.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico02.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico01.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico01.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							    [<% grafico00.forEach(function(stockchart){%><%= stockchart[m=0][""]%><%})%>,<% grafico00.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
							  ]);
							  // map data for the first series, take x from the zero column and value from the first column of data set
							  var seriesData = dataSet.mapAs({x: [0], value: [1]});

							 // create line chart
							  chart = anychart.area();

							  // adding dollar symbols to yAxis labels
							  chart.yAxis().labels().textFormatter("${%Value}");

							  // turn on chart animation
							  chart.animation(true);
							  
							  // axes settings
							  chart.yAxis().title('Price');
							  chart.xAxis().title('Date');
							  chart.xAxis().labels().padding([5,5,0,5]);
							  chart.xAxis().labels().rotation(90);
							  chart.xAxis().overlapMode("allowOverlap");


							  // set chart title text settings
							  chart.title('ACME Share Price<br/>' +
							  '<span style="color:#212121; font-size: 13px;">September 2015</span>');
							  chart.title().useHtml(true).padding([0,0,20,0]);

							  // create a series with mapped data
							  var series = chart.area(seriesData);
							  series.name("ACME Share Price");
							  series.hoverMarkers().enabled(true).type('circle').size(4);

							  // set chart tooltip and interactivity settings
							  chart.tooltip().position('top').anchor('centerbottom');
							  chart.tooltip().positionMode('point');
							  chart.interactivity().hoverMode('byX');
							  
							  // chart padding
							  chart.right(20);

							  // set container id for the chart
							  chart.container('grafito');

							  // initiate chart drawing
							  chart.draw();
							});
				     </script>
<div  id="grafito" ></div>

<script type="text/javascript" >
	google.charts.load('current', {packages: ['corechart', 'line']});
	google.charts.setOnLoadCallback(drawBasic);

	function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('number', 'X');
      data.addColumn('number', 'Aperura');

      data.addRows([
      	[19,<% grafico00.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[18,<% grafico01.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[17,<% grafico02.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[16,<% grafico03.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[15,<% grafico04.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[14,<% grafico05.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[13,<% grafico06.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[12,<% grafico07.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[11,<% grafico08.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[10,<% grafico09.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[9,<% grafico10.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[8,<% grafico11.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[7,<% grafico12.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[6,<% grafico13.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[5,<% grafico14.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[4,<% grafico15.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[3,<% grafico16.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[2,<% grafico17.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[1,<% grafico18.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
      	[0,<% grafico19.forEach(function(stockchart){%><%= stockchart[m=1]%><%})%>],
	    	   
       /* [0, 0],   [1, 10],  [2, 23],  [3, 17],  [4, 18],  [5, 9],
        [6, 11],  [7, 27],  [8, 33],  [9, 40],  [10, 32], [11, 35],
        [12, 30], [13, 40], [14, 42], [15, 47], [16, 44], [17, 48],
        [18, 52], [19, 54], [20, 42], [21, 55], [22, 56], [23, 57],
        [24, 60], [25, 50], [26, 52], [27, 51], [28, 49], [29, 53],
        [30, 55], [31, 60], [32, 61], [33, 59], [34, 62], [35, 65],
        [36, 62], [37, 58], [38, 55], [39, 61], [40, 64], [41, 65],
        [42, 63], [43, 66], [44, 67], [45, 69], [46, 69], [47, 70],
        [48, 72], [49, 68], [50, 66], [51, 65], [52, 67], [53, 70],
        [54, 71], [55, 72], [56, 73], [57, 75], [58, 70], [59, 68],
        [60, 64], [61, 60], [62, 65], [63, 67], [64, 68], [65, 69],
        [66, 70], [67, 72], [68, 75], [69, 80]*/
      ]);

      var options = {
        hAxis: {
          title: ''
        },
        vAxis: {
          title: ''
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

      chart.draw(data, options);
    }
</script>


	
    <script type="text/javascript" src="../rss/mainrss.js"></script>
	<script src="../../js/jquery-1.8.3.min.js" type="text/javascript"></script>
	<script src="../../js/bootstrap/js/bootstrap.min.js"></script>
	<script src="../../js/holder.js"></script>
	<script src="../../js/script.js"></script>
	<style>
	        html, body, #grafito {
	          width: 100%;
	          height: 100%;
	          margin: 0;
	          padding: 0;
	      }
	 </style>
</body>
</html>